@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter&family=Play:wght@700&family=Young+Serif&display=swap');

* {
    margin: 0;
}

body {
    background-color: #404040;
    overflow-x: hidden;
}

.fundo {
    top: 0;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}